body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #e5a7ed;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#btn-add {
  background: #93469f;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px;
  gap: 15px;
}

.card {
  background: #fdc1ff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: #c5a0dc;
  width: 90%;
  max-width: 600px;
  max-height: 80vh;
  padding: 30px;
  margin: 80px auto;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: auto;
}

.modal-content label {
  font-weight: bold;
  font-size: 14px;
}

.modal-content input,
.modal-content textarea {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.hidden {
  display: none;
}